.middle{
    margin-top: 60px;
}

@font-face {

    font-family: 'Korolev';
    src: local('Korolev-Medium'), url(./fonts/Korolev-Medium.otf) format('otf');
    
}

.App{
    font-family: 'Korolev';
    min-height:1080px;
   
    
}

.movielistrow{
    display: flex;
}

.logo{
    border-color: black;

    width: 300px;
    font-size: 50px;
    font-weight: bold;
}


.genre{
    border-color: black;
    width: 300px;
    font-size: 30px;
}
.moviecard{
    margin: 20px;
}

.nav{
    border: 1px solid black;
    height: 70px;
    align-items: center;
}

.form .mr-sm-2{
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
   
}
.genre-sidebar{
    display:flex;
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: end;
}

.nav2{
    margin-top:69px;
    font-size: 20px;
    height: 30px;
    border: 1px solid black;
    align-items: center;
}


.ticker-wrap {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
  
    box-sizing: content-box;
  }

  .ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 150s;
    animation-duration: 150s;
  }

 

  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

.ticker-wrap:hover .ticker 
{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

 .ticker-wrap .ticker__item {
    display: inline-block;
    padding: 2rem;
    font-size: 6rem;
    color: white;

  }

.movie{
    padding-top: 30px;
    min-height: 1080px;
}
